<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/disha/IdeaProjects/Selenium/src/test/java/testNG/NewTest.java"><classes><class name="testNG.NewTest"><methods><include name="testFormSubmission"/></methods></class></classes></test></suite>